/*-- scss:defaults --*/
// Base document colors
$link-color: #123D40;
$navbar-bg: #132A3C;
$navbar-fg: white;
$navbar-hl: #89CECE;
$code-color: #123D40;

// Base sizes
$font-size-root: 11pt;


/*-- scss:rules --*/

.blockquote {
  color: #25350c;
}

code {
  font-size: 100%;
}

.gt-table {
  font-size: $font-size-root;
}

#quarto-document-content {
  background-color: #FFFBF9 !important;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 0;
  padding-top: 1em;
  margin-top: 1em;
}

section h1 {
  color: #1B5C5F;
}

section h2 {
  color: #5f6d6e;
}

section h3 {
  color: #000000;
}

section h5 {
  font-weight: bold;
}

.asl {
  font-weight: bold;
  color: #1B5C5F;
}

#quarto-margin-sidebar {
  background-color: #ffffff !important;
  margin-top: 1em;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 0.5em;
}

body {
  font-size: 14px;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-color: #E0E6EB;
  background-repeat: no-repeat;
}

table, th, td {
  text-align: left;
  padding-left: 8px;
  vertical-align: top;
}